.full_size {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
}

/****************************************************************
                       SugaringCenter Home Page
****************************************************************/


.sugaringCenterSection .Greeting {
    text-align: center;
    position: static;
    max-height: 555px;
}

.sugaringCenterLogo {
    position: inherit;
    max-height: 80%;
    width: auto;
}

.Greeting .sugaringCenterTitle {
    margin-left: auto;
    margin-right: auto;
    font: normal normal normal 1.3em/1.67em Arial, Helvetica, sans-serif;
    text-align: center;
    color: #000000;
    font-weight: bold;
    word-wrap: break-word;
}

.Greeting .sugaringCenterSubTitle {
    margin-left: auto;
    margin-right: auto;
    font: normal normal normal 1em/1.875em helvetica-w01-light,helvetica-w02-light,sans-serif;
    text-align: center;
}

.sugaringCenterSection .sugaringCenterBG {
    background-position: center;
    background-image: url(../imgs/IMG_1210.jpg);
    background-size: cover;
}

@media only screen and (min-width: 992px) {
    .sugaringCenterSection {
        position: relative;
        max-height: 555px;
        width: calc(100% - 160px);
        margin-left: 80px;
        margin-right: 80px;
        margin-bottom: 40px;
        pointer-events: auto;
        background-color: #FFFFFF;
    }
}

@media only screen and (max-width: 992px)  {
    .sugaringCenterSection {
        position: relative;
        max-height: 555px;
        width: 100%;
        margin-bottom: 40px;
        pointer-events: auto;
        background-color: #FFFFFF;
    }   
}

/****************************************************************
                       WhyIsSugaring
****************************************************************/

.whyIsSugaringImage {
    background-position: bottom;
    background-image: url(../imgs/IMG_1209.jpg);
    background-size: cover;
    height: 100%;
}

.whyIsSugaringHeader {
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: none;
    visibility: inherit;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    background-color: rgba(0, 0, 0, 0.25);
    vertical-align: central;
}

.whyIsSugaringHeaderText {
    margin: 0;
    letter-spacing: normal;
    text-align: center;
    line-height: 1.35em;
    font: normal normal normal 3em/1.35em oswald-extralight, oswald, sans-serif;
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center;
    height: 100%;
}

@media only screen and (min-width: 992px) {
    .whyIsSugaringSection {
        position: static;
        min-width: 992px;
        height: 555px;
        pointer-events: auto;
        background-color: #F7F7F7;
    }

    .whyIsSugaringBG {
        margin-left: 80px;
        margin-right: 80px;
        width: calc(100% - 160px);
        padding-top: 40px;
        padding-bottom: 40px;
        height: 100%;
        background-color: #F7F7F7;
    }
}

@media only screen and (min-width: 767px) and (max-width: 992px)  {
    .whyIsSugaringSection {
        position: static;
        height: 450px;
        width: 100%;
        pointer-events: auto;
        background-color: #F7F7F7;
        padding: 0;
    }

    .whyIsSugaringBG {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        height: 100%;
        background-color: #F7F7F7;
    }
}

@media only screen and (max-width: 767px) {
    .whyIsSugaringSection {
        position: static;
        height: 300px;
        width: 100%;
        pointer-events: auto;
        background-color: #F7F7F7;
        padding: 0;
    }

    .whyIsSugaringBG {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        height: 100%;
        background-color: #F7F7F7;
    }

    .whyIsSugaringHeaderText {
        margin: 0;
        letter-spacing: normal;
        text-align: center;
        font: normal normal normal 1em/1.35em oswald-extralight, oswald, sans-serif;
        display: flex;
        align-items: center; /* Vertical center alignment */
        justify-content: center;
        height: 100%;
    }
}



/****************************************************************
                       Get in Touch
****************************************************************/

.getInTouchFirstTitle {
    position: relative;
    pointer-events: none;
    visibility: inherit;
    font-family: Playfair Display, serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: normal;
    font-weight: 400;
    font-size: 2em;
    color: black;
    text-align: center;
    line-height: 1.75em;
    width: 100%;
    display: block;
    margin: auto;
}

.getInTouchFirstText {
    width: 780px;
    position: relative;
    pointer-events: none;
    visibility: inherit;
    display: block;
    margin: auto;
    color: black;
    text-align: center;
    font: normal lighter normal 1em/1.875em helvetica-w01-light,helvetica-w02-light,sans-serif;
}

.getInTouchButton {
    position: relative;
    visibility: inherit;
    top: 130px;
    height: 45px;
    min-height: 28px;
    width: 124px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 1);
    border: solid transparent 0px;
    cursor: pointer !important;
    text-align: initial;
    display: block;
    margin: auto;
    align-items: center;
}

.getInTouchButtonText {
    font: normal normal normal 15px/1.875em helvetica-w01-light,helvetica-w02-light,sans-serif;
    transition: color 0.4s ease 0s;
    color: #FFFFFF;
    display: block;
    margin: auto;
    position: relative;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .getInTouchFirstSection {
        width: 100%;
        height: 120%;
        position: relative;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .getInTouchFirstTitle {
        width: calc(100% - 160px);
    }


    .getInTouchFirstTitle {
        position: relative;
        pointer-events: none;
        visibility: inherit;
        font-family: Playfair Display, serif;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-stretch: normal;
        font-weight: 400;
        font-size: 1em;
        color: black;
        text-align: center;
        line-height: 1.75em;
        width: 100%;
        display: block;
        margin: auto;
    }
    
    .getInTouchFirstText {
        width: 100%;
        position: relative;
        pointer-events: none;
        visibility: inherit;
        display: block;
        margin: auto;
        color: black;
        text-align: center;
        font: normal lighter normal 0.5em/1.875em helvetica-w01-light,helvetica-w02-light,sans-serif;
    }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
    .getInTouchFirstSection {
        min-width: 767px;
        margin-top: 40px;
        margin-bottom: 40px;
        height: 120%;
        position: relative;
    }
    
    .getInTouchFirstTitle {
        width: calc(100% - 160px);
    }
}

@media only screen and (min-width: 992px) {
    .getInTouchFirstSection {
        min-width: 992px;
        margin-top: 40px;
        margin-bottom: 40px;
        height: 120%;
        position: relative;
    }

    .getInTouchFirstTitle {
        width: calc(100% - 160px);
    }
}


/************************/
.PriceSection {
    flex: 980 1 0%;
    margin-left: 0px;
    min-width: 980px;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0px;
    height: 480px;
    position: relative;
    background-position: center;
    background-image: url(../imgs/PriceSection.PNG);
    background-size: cover;
}

.PriceSectionBG {
    height: 480px;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    background-color: rgba(0, 0, 0, 0.25);
    text-align: center;
}


.priceTitle {
    position: relative;
    pointer-events: none;
    visibility: inherit;
    color: white;
    text-align: center;
    width: calc(100% - 160px);
    display: block;
    margin: auto;
    font: normal normal normal 40px/1.35em oswald-extralight,oswald,sans-serif;
}

.priceSubTitle {
    position: relative;
    pointer-events: none;
    visibility: inherit;
    color: black;
    text-align: center;
    width: calc(100% - 160px);
    display: block;
    margin: auto;
    font: normal normal normal 18px/1.75em Playfair Display,serif;
    color: white;
}

.priceItems {
    margin-left: 0px;
    width: calc(100% - 160px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    height: 600px;
    position: relative;
}

.priceItem {
    margin-left: 0px;
    height: 440px;
    width: auto;
    object-fit: cover;
    margin: auto;
    display: block;
    position: relative;
}