.font-alt {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.description {
    font: 400 12px/1.8 "Open Sans", sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased;
}

.form-control {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    height: 33px;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
    transition: all 0.4s ease-in-out 0s;
}

.input-lg, .form-horizontal .form-group-lg .form-control {
    height: 43px;
    font-size: 13px;
}

.btn.btn-lg {
    padding: 12px 45px;
    font-size: 13px;
}

.btn.btn-b {
    background: #111111;
    color: #fff;
}

.btn.btn-round {
    border-radius: 2px;
}

.btn {
    border-radius: 0;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    padding: 8px 37px;
}

.product_meta {
    font: 400 12px/1.8 "Open Sans", sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased;
}

/*--------------------------------------------------------------
	Shop Items
--------------------------------------------------------------*/
.shop-item {
    text-align: center;
    margin: 0 0 40px;
}

.shop-item-image {
    position: relative;
    overflow: hidden;
}

.shop-item-image img {
    max-width: 100%;
    max-height: 200px;
    object-fit: scale-down;
}

.shop-item-detail,
.shop-item-image:after {
    transition: all 0.4s ease-in-out 0s;
}

.shop-item-image:after {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.shop-item-detail {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100%;
    padding: 20px;
    opacity: 0;
    z-index: 2;
    text-align: center;
    font-size: 12px;
    color: #aaa;
}

.shop-item-title {
    font-weight: 400;
    font-size: 14px;
    color: #111;
    margin: 15px 0 5px;
}

/* Shop item hover */
.shop-item:hover .shop-item-image:after {
    background: rgba(255, 255, 255, 0.7);
}

.shop-item:hover .shop-item-detail {
    opacity: 1;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

/* -------------------------------------------------------------------
	Exclusive products
------------------------------------------------------------------- */
.ex-product {
    opacity: .7;
    transition: all 0.4s ease-in-out 0s;
}

.ex-product:hover {
    opacity: 1;
}

/********************************************/

.pagination a {
    border: 1px solid #eaeaea;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    color: #999;
    padding: 4px 12px;
}

.pagination a.active {
    border-color: #CACACA;
}
