@using System.IO
@using SugaringCentreAuckland.Persistent.SugaringCentreAucklandElk.Models
@model SugarCenter.ViewModel.BookingServiceViewModel

<div class="main">
    <section class="module">
        <div class="container">
            <form asp-action="SaveBooking" method="post" enctype="multipart/form-data"> 
            <div class="row second-nav">
                <div class="col">
<div class="w3-container">
                    <h1 style="font: normal 100 normal 30px/1.79em Playfair Display, serif;">Schedule Online</h1>
                    <hr class="divider-w pt-20">

                    <select class="js-example-basic-single" required="required" name="staff" style="width: 100%; padding-top: 32px;"/>
                    <input type="hidden" id="staff" asp-for="Booking.StaffId"/>
                    
                    <label  class="w3-text-teal" for="Date"><b>Date</b></label>
                    <input id="Date" disabled="disabled" asp-for="Booking.Date" class="datepicker form-control w3-input w3-border w3-light-grey" name="date" required="required" type="date">
                    
                    <label  class="w3-text-teal" for="Time"><b>Time</b></label>
                    <div class="form-group">
                        <input asp-for="Booking.Time" id="Time" disabled="disabled" class="timepicker form-control" required="required" type="time" name="time">
                        </div>

                    <h1 style="font: normal 100 normal 30px/1.79em Playfair Display, serif; margin-top: 20px;">Tell us a bit about yourself</h1>
                    <hr class="divider-w pt-20">
                    <div class="form-group">
                        <input asp-for="Booking.Name" placeholder="Name*" required class="form-control">
                    </div>
                    <div class="form-group">
                        <input asp-for="Booking.Email" type="email" placeholder="Email*" required class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input asp-for="Booking.Phone" placeholder="Phone Number" class="form-control"/>
                    </div>
                    <div class="form-group">
                    <textarea asp-for="Booking.Message" class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div id="floatingRectangle">
                        <span style="font: normal bold normal 20px/1.79em Playfair Display, serif">@Model.ServiceType.Title</span>
                        <div>
                            <span>@Model.ServiceType.Duration min | $@Model.ServiceType.Price</span>
                        </div>
                        <hr class="divider-w pt-20" style="color: black">
                        <div class="form-group">
                            <input id="masterContainer" placeholder="Master is not selected" class="form-control"/>
                        </div>
                        
                        <div class="form-group">
                            <input id="dateContainer" disabled="disabled" placeholder="Date is not selected" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <input id="timeContainer" placeholder="Time is not selected" class="form-control"/>
                        </div>
                        
                        <div>
                            <button class="nextButton">Book It</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </section>
</div>



<script type="text/javascript"> 

        var datepicker = $('.datepicker').pickadate({
                  clear: 'Clear selection',
                  close: 'Cancel',
                  min: new Date(),
                  disable: [1]
                });
        
         var timpicker = $('.timepicker').pickatime({
           min: [10,0],
           max: [17,30],
           disable: [12]
         });
         
         timpicker.change(function(){
                            $('#timeContainer').val($('.timepicker').val());
                          });
         
         datepicker.change(function(){
                                     $('#dateContainer').val($('.datepicker').val());
                                   });
    </script>
    
    
<script type="text/javascript">
var staffName;
var staffId;

$(".nextButton").click(function(){
    $.ajax ({
           url : "/Booking/GetStaffForBooking",
           dataType : "json",
           delay : 250,
           data : function() {
             return {
                 searchStaffName : "params.term"
                 }
           },
           processResults : function(data, params) {
            alert("The paragraph was clicked.");
           }
        });
  
});

$(document).ready(function() {
  $('.js-example-basic-single').select2({
    placeholder: "Select a staff",
    allowClear: true,
    theme: "classic",
    ajax : {
       url : "/Booking/GetStaffForBooking",
       dataType : "json",
       delay : 250,
       data : function(params) {
         return {
             searchStaffName : params.term
             }
       },
       processResults : function(data, params) {
         return {
             results : data
         };
       }
    }
  });
});

$(".js-example-basic-single").on("change", function() {
     staffId = $(this).val();
     if (staffId != null ) {
         $("#Date").prop('disabled', false);
     } else {
         $("#Date").prop('disabled', true);
         $("#Time").prop('disabled', true);
     }
     
     $("#staff").val(staffId);
     
     staffName = $(this).text().trim();
     $("#masterContainer").val(staffName);
     
   });

$("#Date").on("change", function() {
  var dateValue = $(this).val();
  if (dateValue != null || dateValue !== "") {
      $("#Time").prop('disabled', false);
  } else {
      $("#Time").val('');
      $("#Time").prop('disabled', true);
  }
});
</script>