@{
    ViewData["Title"] = "Home Page";
}

<section class="sugaringCenterSection">
    <div class="row" style="margin-left: 0px; margin-right: 0px; padding-bottom: 80px;">
        <div class="col-sm-6" style="margin-top: auto; margin-bottom: auto; display: block;">
            <img src="~/imgs/logo.jpg" alt="Sugaring Center" class="sugaringCenterLogo">
            <div class="sugaringCenterTitleContainer"> <p class="sugaringCenterTitle">Your #1 Natural Hair Removal Centre in New Zealand</p></div>
            <div class="sugaringCenterSubTitileContainer"> <p class="sugaringCenterSubTitile">SAFE ORGANIC GENTLE ECO AND VEGAN FRIENDLY</p></div>
        </div>
        <div class="col-sm-6 sugaringCenterBG" style="padding-left: 0px; padding-right: 0px;"></div>
    </div>
</section>

<section class="whyIsSugaringSection" style="padding-top: 80px;">
    <div class="whyIsSugaringBG">
        <div class="whyIsSugaringImage">
            <div class="whyIsSugaringHeader">
                <div class="whyIsSugaringHeaderText" style="font-weight: bold; color: white">WHAT IS SUGARING? WHY IS IT BETTER?</div>
            </div>
        </div>
    </div>

    <div class="getInTouchFirst">
        <p class="getInTouchFirstTitle">Make depilation more pure and easy</p>
        <p class="getInTouchFirstText">Sugaring is new and, nowadays, best method of aesthetic hair removal. Sugaring Centre works with Pandhy's, who are leaders in high class skin care products.<br/>Sugaring 100% natural, vegan friendly, cruelty free way of removing unwanted hair. Also, it is hypoallergenic, suitable for people with sensitive skin.</p>
        <div class="getInTouchButton"><a class="getInTouchButtonText" href="#GetInTouch">Get In Touch</a></div>
    </div>
    
    <div class="PriceSection">
        <div class="PriceSectionBG">
            <div style="position: absolute; top: 30%; margin: auto; width: 100%;">
                <p class="priceTitle">Price</p>
                <p class="priceSubTitle">Sugaring is the story of your skin care and love</p>
            </div>
        </div>
    </div>
    
    <div class="priceItems">
        <div class="row" style="height: 440px;">
            <div class="col-sm-6">
                <img src="~/imgs/waxing.jpg" alt="Sugaring Center" class="priceItem">
            </div>
            <div class="col-sm-6" >
                <img src="~/imgs/Brown_wax.PNG" alt="Sugaring Center" class="priceItem">
            </div>
        </div>
    </div>
</section>

