@model SugaringCentreAuckland.Persistent.SugaringCentreAucklandElk.Models.Product;

@{
    string name = Model == null ? "" : Model.Title ?? "";
    var price = Model == null ? 0 : Model.Price;
    var desc = Model == null ? "" : Model.Desc ?? "";
}

<div class="main">
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h4 class="font-alt mb-0">Basic Products Data</h4>
                    <hr class="divider-w mt-10 mb-20">
                    <form asp-action="SaveProduct" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="form-control input-lg" />
                            @* <input class="form-control input-lg" type="text" name="productName" id="productName" placeholder="Products Name" value="@name" />*@
                        </div>
                        <div class="form-group">
                            <label asp-for="Price"></label>
                            <input type="number" step="any" asp-for="Price" class="form-control input-lg" />
                            @*<input class="form-control input-lg" type="number" step="any" name="productPrice" id="productPrice" placeholder="Products Name" value="@price"/>*@
                        </div>
                        @*<div class="form-group">
            <input class="form-control" type="text" placeholder="Default input"/>
        </div>
        <div class="form-group">
            <input class="form-control input-sm" type="text" placeholder="Small input"/>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Disabled input" disabled=""/>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Readonly input" readonly=""/>
        </div>*@
                        <label asp-for="Desc"></label>
                        <textarea asp-for="Desc" class="form-control" rows="7" placeholder="Description"></textarea>
                        @*<textarea class="form-control" rows="7" name="productDescription" id="productDescription" placeholder="Description">@desc</textarea>*@

                        @Html.DropDownList("PriorityID", (IEnumerable<SelectListItem>)ViewBag.PriorityID, new { @class = "dropdown" })

                        @*<label asp-for="ProductsImg"></label>
                        <input type="file" id="files" asp-for="ProductsImg" />*@
                        <input class="btn btn-success btn-circle" type="submit" name="submit" `>Save Products</input>
                    </form>


</div>
            </div>
        </div>
    </section>
    @*<section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mb-sm-40">
                    <a class="gallery" href="assets/images/shop/product-7.jpg"><img src="assets/images/shop/product-7.jpg" alt="Single Products Image" /></a>
                    <ul class="product-gallery">
                        <li><a class="gallery" href="assets/images/shop/product-8.jpg"></a><img src="assets/images/shop/product-8.jpg" alt="Single Products" /></li>
                        <li><a class="gallery" href="assets/images/shop/product-9.jpg"></a><img src="assets/images/shop/product-9.jpg" alt="Single Products" /></li>
                        <li><a class="gallery" href="assets/images/shop/product-10.jpg"></a><img src="assets/images/shop/product-10.jpg" alt="Single Products" /></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="product-title font-alt">Accessories Pack</h1>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-sm-12">
                            <div class="price font-alt"><span class="amount">£20.00</span></div>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-sm-12">
                            <div class="description">
                                <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-sm-12">
                            <div class="product_meta">
                                Categories:<a href="#"> Man, </a><a href="#">Clothing, </a><a href="#">T-shirts</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-70">
                <div class="col-sm-12">
                    <ul class="nav nav-tabs font-alt" role="tablist">
                        <li class="active"><a href="#description" data-toggle="tab"><span class="icon-tools-2"></span>Description</a></li>
                        <li><a href="#data-sheet" data-toggle="tab"><span class="icon-tools-2"></span>Data sheet</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="description">
                            <p>Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages.</p>
                            <p>The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ in their grammar, their pronunciation and their most common words.</p>
                        </div>
                        <div class="tab-pane" id="data-sheet">
                            <table class="table table-striped ds-table table-responsive">
                                <tbody>
                                    <tr>
                                        <th>Title</th>
                                        <th>Info</th>
                                    </tr>
                                    <tr>
                                        <td>Compositions</td>
                                        <td>Jeans</td>
                                    </tr>
                                    <tr>
                                        <td>Size</td>
                                        <td>44, 46, 48</td>
                                    </tr>
                                    <tr>
                                        <td>Color</td>
                                        <td>Black</td>
                                    </tr>
                                    <tr>
                                        <td>Brand</td>
                                        <td>Somebrand</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
</div>