@model SugaringCentreAuckland.Persistent.SugaringCentreAucklandElk.Models.Booking
@{
    Layout = "_AdminConsole";
}

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form class="">
                    @if (@Model.ServiceId <= 0)
                    {
                        <h5 class="card-title">New Booking</h5>
                    }
                    else
                    {
                        <h5 class="card-title">@Model.ServiceNavigation.Title for @Model.LastName</h5>
                    }

                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="master" class="">Master</label>
                                <input hidden id="masterId" asp-for="StaffId"/>
                                <input id="master" asp-for="StaffId" placeholder="Client First Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="master" class="">Master</label>
                                <input hidden id="masterId" asp-for="StaffId"/>
                                <input id="master" asp-for="StaffId" placeholder="Client First Name" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="date" class="">Date</label>
                                <input type="date" id="date" asp-for="Date" placeholder="Client Last Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="time" class="">Time</label>
                                <input type="time" id="time" asp-for="Time" placeholder="Client Last Name" class="form-control">
                            </div>
                        </div>
                    </div>

                    <h5 class="card-title">Client Info</h5>

                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="firstName" class="">First Name</label>
                                <input name="firstName" id="firstName" asp-for="FirstName" placeholder="Client First Name" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="lastName" class="">Last Name</label>
                                <input name="lastName" id="lastName" asp-for="LastName" placeholder="Client Last Name" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="email" class="">Email</label>
                                <input name="email" id="email" asp-for="Email" placeholder="Client Email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="phone" class="">Phone</label>
                                <input name="phone" id="phone" asp-for="Phone" placeholder="Client Phone" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <label for="message">Message</label>
                            <textarea id="message" asp-for="Message" class="form-control">
                            </textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <button class="mt-2 btn btn-primary">Save</button>
                        <button class="mt-2 btn btn-danger" style="margin-left: 20px">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>