@{
    Layout = "_AdminConsole";
}

@* <body> *@
@* *@
@* <header> *@
@*     <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white" style="padding: 0; height: 120px;"> *@
@*         <div class="container" style="margin-right: 60px;"> *@
@*             <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" class="margin-right: 60px;"> *@
@*                 <ul class="navbar-nav flex-grow-1" style="display: contents;"> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="AdminConsole" asp-action="Home">AdminConsole</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="Shop" asp-action="Index">Shop</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="Booking" asp-action="Index">Book Online</a> *@
@*                     </li> *@
@*                     <li class="nav-item"> *@
@*                         <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
@*                     </li> *@
@*                 </ul> *@
@*             </div> *@
@*         </div> *@
@*     </nav> *@
@* </header> *@
@* *@
@* <main> *@
@*     <div class="main"> *@
@*         <section class="module"> *@
@*             <div class="container"> *@
@*                 <div class="row multi-columns-row post-columns"> *@
@*                     <div class="col-sm-6 col-md-4 col-lg-4"> *@
@*                         <div class="post"> *@
@*                             <div class="post-thumbnail"><a asp-area="" asp-controller="AdminConsole" asp-action="Category"><img src="~/imgs/AdminConsole/Category.png" alt="Categories Thumbnail" style="width: 100%; height: auto" /></a></div> *@
@*                             <div class="post-header font-alt"> *@
@*                                 <h2 class="post-title"></h2> *@
@*                             </div> *@
@*                             <div class="post-entry"> *@
@*                                 <p>Manage your categories, create, delete or ..... actually thats all at this moment</p> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="col-sm-6 col-md-4 col-lg-4"> *@
@*                         <div class="post"> *@
@*                             <div class="post-thumbnail"><a asp-area="" asp-controller="AdminConsole" asp-action="Products"><img src="~/imgs/AdminConsole/Products.jpg" alt="Products Thumbnail" style="width: 100%; height: auto" /></a></div> *@
@*                             <div class="post-header font-alt"> *@
@*                                 <h2 class="post-title"><a  asp-area="" asp-controller="AdminConsole" asp-action="Products">Products</a></h2> *@
@*                             </div> *@
@*                             <div class="post-entry"> *@
@*                                 <p>Edit your products, add new one, enable specials and discounts</p> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="col-sm-6 col-md-4 col-lg-4"> *@
@*                         <div class="post"> *@
@*                             <div class="post-thumbnail"><a asp-area="" asp-controller="AdminConsole" asp-action="Servicess"><img src="~/imgs/AdminConsole/Products.jpg" alt="Products Thumbnail" style="width: 100%; height: auto" /></a></div> *@
@*                             <div class="post-header font-alt"> *@
@*                                 <h2 class="post-title"><a  asp-area="" asp-controller="AdminConsole" asp-action="Servicess">Servicess</a></h2> *@
@*                             </div> *@
@*                             <div class="post-entry"> *@
@*                                 <p>Add or edit your serviceCategorys</p> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="col-sm-6 col-md-4 col-lg-4"> *@
@*                         <div class="post"> *@
@*                             <div class="post-thumbnail"><a asp-area="" asp-controller="AdminConsole" asp-action="Services"><img src="~/imgs/AdminConsole/Products.jpg" alt="Products Thumbnail" style="width: 100%; height: auto" /></a></div> *@
@*                             <div class="post-header font-alt"> *@
@*                                 <h2 class="post-title"><a  asp-area="" asp-controller="AdminConsole" asp-action="Services">Types</a></h2> *@
@*                             </div> *@
@*                             <div class="post-entry"> *@
@*                                 <p>Add or edit your type of serviceCategory</p> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="col-sm-6 col-md-4 col-lg-4"> *@
@*                         <div class="post"> *@
@*                             <div class="post-thumbnail"><a  asp-area="" asp-controller="AdminConsole" asp-action="Staff"><img src="~/imgs/AdminConsole/Staff.jpg" alt="Staff Thumbnail" style="width: 100%; height: auto" /></a></div> *@
@*                             <div class="post-header font-alt"> *@
@*                                 <h2 class="post-title"><a  asp-area="" asp-controller="AdminConsole" asp-action="Staff">Staff</a></h2> *@
@*                             </div> *@
@*                             <div class="post-entry"> *@
@*                                 <p>Manage your personal, edit staff info, hire new people or FIRE them ;) </p> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                     <div class="col-sm-6 col-md-4 col-lg-4"> *@
@*                     <div class="post"> *@
@*                         <div class="post-thumbnail"><a  ><img src="~/imgs/AdminConsole/Staff.jpg" alt="Correspondence Thumbnail" style="width: 100%; height: auto" /></a></div> *@
@*                         <div class="post-header font-alt"> *@
@*                             <h2 class="post-title"><a >Correspondence</a></h2> *@
@*                         </div> *@
@*                         <div class="post-entry"> *@
@*                             <p>Send the news, specials or memes to people who subscribed to newsletter</p> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*                 </div> *@
@*             </div> *@
@*         </section> *@
@*     </div> *@
@* </main> *@
@* *@
@* </body> *@



@**********************************************************************@
@*                        Main Page Content                           *@
@**********************************************************************@
<div class="app-main__outer">
    <div class="app-main__inner">

    </div>
</div>

