<section class="module">
    <div class="container">
        <div class="row multi-columns-row post-columns">
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post">
                    <div class="post-thumbnail"><a asp-area="" asp-controller="AdminConsole" asp-action="Category"><img src="~/imgs/AdminConsole/Category.png" alt="Categories Thumbnail" style="width: 100%; height: auto" /></a></div>
                    <div class="post-header font-alt">
                        <h2 class="post-title"><a  asp-area="" asp-controller="AdminConsole" asp-action="Category">Product Categories</a></h2>
                    </div>
                    <div class="post-entry">
                        <p>Manage your categories, create, delete or ..... actually thats all at this moment</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post">
                    <div class="post-thumbnail"><a asp-area="" asp-controller="AdminConsole" asp-action="Products"><img src="~/imgs/AdminConsole/Products.jpg" alt="Products Thumbnail" style="width: 100%; height: auto" /></a></div>
                    <div class="post-header font-alt">
                        <h2 class="post-title"><a  asp-area="" asp-controller="AdminConsole" asp-action="Products">Products</a></h2>
                    </div>
                    <div class="post-entry">
                        <p>Edit your products, add new one, enable specials and discounts</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="post">
                                <div class="post-thumbnail"><a asp-area="" asp-controller="AdminConsole" asp-action="Services"><img src="~/imgs/AdminConsole/Products.jpg" alt="Products Thumbnail" style="width: 100%; height: auto" /></a></div>
                                <div class="post-header font-alt">
                                    <h2 class="post-title"><a  asp-area="" asp-controller="AdminConsole" asp-action="Services">Services</a></h2>
                                </div>
                                <div class="post-entry">
                                    <p>Add or edit your services</p>
                                </div>
                            </div>
                        </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="post">
                    <div class="post-thumbnail"><a  asp-area="" asp-controller="AdminConsole" asp-action="Staff"><img src="~/imgs/AdminConsole/Staff.jpg" alt="Staff Thumbnail" style="width: 100%; height: auto" /></a></div>
                    <div class="post-header font-alt">
                        <h2 class="post-title"><a  asp-area="" asp-controller="AdminConsole" asp-action="Staff">Staff</a></h2>
                    </div>
                    <div class="post-entry">
                        <p>Manage your personal, edit staff info, hire new people or FIRE them ;) </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="post">
                <div class="post-thumbnail"><a  ><img src="~/imgs/AdminConsole/Staff.jpg" alt="Correspondence Thumbnail" style="width: 100%; height: auto" /></a></div>
                <div class="post-header font-alt">
                    <h2 class="post-title"><a >Correspondence</a></h2>
                </div>
                <div class="post-entry">
                    <p>Send the news, specials or memes to people who subscribed to newsletter</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>