@model SugarCenter.ViewModel.StatisticViewMovel

@{
    Layout = "_AdminConsole";
}

@**********************************************************************@
@*                        Main Page Content                           *@
@**********************************************************************@
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="row">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3 widget-content bg-premium-dark">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Total Orders</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-warning">
                                <span>&nbsp @Model.OrdersNumber</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3 widget-content bg-midnight-bloom">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Order Value</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white">
                                <span>&nbsp $ @Model.OrdersValue</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3 widget-content bg-grow-early">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading">Total Bookings</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white">
                                <span>&nbsp @Model.BookingsNumber</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                            </div>
                        </div>
                        <h5 class="card-title">Number Bookings per Master</h5>
                        <canvas id="pie-chart-booking-master" width="468" height="234" class="chartjs-render-monitor" style="display: block; width: 468px; height: 234px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                            </div>
                        </div>
                        <h5 class="card-title">Number Bookings per Service</h5>
                        <canvas id="polar-chart-booking-service" width="468" height="234" class="chartjs-render-monitor" style="display: block; width: 468px; height: 234px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

 window.chartColors = {
        red: "#dc3545",
        orange: "#fd7e14",
        yellow: "#ffc107",
        green: "#28a745",
        blue: "#007bff"
    };

$(document).ready(function() {
    
    $.ajax({
        url : "/AdminConsole/GetTopBookingsPerMaster",
        dataType : "json",
        type : "GET",
        success : function(data) {
            var data_tmp = [0];
            var label_tmp = [0];
            for (i = 0; i < data.length; ++i) {
                data_tmp[i] = data[i].Item2;
                label_tmp[i] = data[i].Item1;
            }
            
            var config = {
                type: 'pie',
                data: {
                    datasets: [{
                        data: data_tmp,
                        backgroundColor: [
                            window.chartColors.red,
                            window.chartColors.orange,
                            window.chartColors.yellow,
                            window.chartColors.green,
                            window.chartColors.blue,
                        ],
                        label: 'Dataset 1'
                    }],
                    labels: label_tmp
                },
                options: {
                responsive: true
                }
            };
            
            var ctx = document.getElementById('pie-chart-booking-master').getContext('2d');
            window.myPie = new Chart(ctx, config);
        }
    });
    
    $.ajax({
            url : "/AdminConsole/GetTopBookingsPerService",
            dataType : "json",
            type : "GET",
            success : function(data) {
                var color = Chart.helpers.color;
                
                var data_tmp = [0];
                var label_tmp = [0];
                for (i = 0; i < data.length; ++i) {
                    data_tmp[i] = data[i].Item2;
                    label_tmp[i] = data[i].Item1;
                }
                
                var config = {
                    data: {
                        datasets: [{
                            data: data_tmp,
                            backgroundColor: [
                                color(chartColors.red).alpha(0.5).rgbString(),
                                color(chartColors.orange).alpha(0.5).rgbString(),
                                color(chartColors.yellow).alpha(0.5).rgbString(),
                                color(chartColors.green).alpha(0.5).rgbString(),
                                color(chartColors.blue).alpha(0.5).rgbString()
                            ],
                            label: 'Dataset 1'
                        }],
                        labels: label_tmp
                    },
                    options: {
                    responsive: true
                    }
                };
                
                var ctx = document.getElementById('polar-chart-booking-service').getContext('2d');
                window.myPolarArea = new Chart.PolarArea(ctx, config);
            }
        });
});

</script>