@model SugaringCentreAuckland.Persistent.SugaringCentreAucklandElk.Models.Product;

@{
    Layout = "ProductLayout";
    string name = Model == null ? "" : Model.Name ?? "";
    var price = Model == null ? 0 : Model.Price;
    var desc = Model == null ? "" : Model.Desc ?? "";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SugarCenter</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/AdminConsole/Typography.css"/>
    <link href="~/css/select2/select2.min.css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:400,700,300"/>

    <script src="~/js/select2.min.js"></script>
   </head>
<body>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white" style="padding: 0; height: 120px;">
        <div class="container" style="margin-right: 60px;">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" class="margin-right: 60px;">
                <ul class="navbar-nav flex-grow-1" style="display: contents;">
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="AdminConsole" asp-action="Home">AdminConsole</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="Home" asp-action="Blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="Shop" asp-action="Shop">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="Home" asp-action="Booking">Book Online</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    
    <div class="main">
        <section class="module">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h4 class="font-alt mb-0">Basic Products Data</h4>
                        <hr class="divider-w mt-10 mb-20">
                        <form asp-action="SaveProduct" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control input-lg" />
                                @* <input class="form-control input-lg" type="text" name="productName" id="productName" placeholder="Products Name" value="@name" />*@
                            </div>
                            <div class="form-group">
                                <label asp-for="Price"></label>
                                <input type="number" step="any" asp-for="Price" class="form-control input-lg" />
                            </div>
                            <label asp-for="Desc"></label>
                            <textarea asp-for="Desc" class="form-control" rows="7" placeholder="Description"></textarea>
                            
                            <input type="hidden" id="categories" asp-for="CategorySelected"/>
                            
                            <select class="js-example-basic-single" name="categories[]" multiple="multiple" style="width: 300px;">
                                <option></option>
                                <option value="t1">test 1</option>
                                <option value="t2">test 2</option>
                            </select>
                            
                            <input class="btn btn-success btn-circle" type="submit" name="Save Products"></input>
                        </form>


                    </div>
                </div>
            </div>
        </section>
    </div>
</header>

<script type="text/javascript">
$(document).ready(function() {
  $('.js-example-basic-single').select2({
    placeholder: "Select a category",
    allowClear: true,
    theme: "classic",
    ajax : {
       url : "/AdminConsole/GetCategory",
       dataType : "json",
       delay : 250,
       data : function(params) {
         return {
             searchCategoryName : params.term
             }
       },
       processResults : function(data, params) {
         return {
             results : data
         };
       }
    }
  });
});

$(".js-example-basic-single").on("change", function() {
  var categoryId = $(this).val();
  $("#categories").val(categoryId);
  
  var textBoxValueData = $("#categories").val();
  $.ajax({
      url : '/AdminConsole/SaveCategorySelection?categoryIds=' +  textBoxValueData,
      dataType : 'json',
      type: 'post'
  });
});
</script>

</body>
</html>