@model SugaringCentreAuckland.Persistent.SugaringCentreAucklandElk.Models.ServiceType;

@{
    Layout = "ProductLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SugarCenter</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link href="@Url.Content("~/css/SingleItem.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/AdminConsole/Typography.css"/>
    <link href="~/css/select2/select2.min.css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald:400,700,300"/>

    <script src="~/js/select2.min.js"></script>
   </head>
<body>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white" style="padding: 0; height: 120px;">
        <div class="container" style="margin-right: 60px;">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" class="margin-right: 60px;">
                <ul class="navbar-nav flex-grow-1" style="display: contents;">
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="AdminConsole" asp-action="Home">AdminConsole</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="Home" asp-action="Blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="Shop" asp-action="Shop">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="Home" asp-action="Booking">Book Online</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="font: normal normal normal 14px/1.79em Playfair Display, serif;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="main">
        <section class="module">
            <div class="container">
                <form asp-action="SaveServiceType" method="post" enctype="multipart/form-data">
                <div class="grid product">
                    <div class="column-xs-12 column-md-7">
                        <div class="product-gallery">
                            <div class="product-image">
                                <img class="active" src="https://source.unsplash.com/W1yjvf5idqA">
                            </div>
                            <ul class="image-list">
                                <li class="image-item"><img src="https://source.unsplash.com/W1yjvf5idqA"></li>
                                <li class="image-item"><img src="https://source.unsplash.com/W1yjvf5idqA"></li>
                                <li class="image-item"><img src="https://source.unsplash.com/VgbUxvW3gS4"></li>
                                <li class="image-item"><img src="https://source.unsplash.com/5WbYFH0kf_8"></li>
                            </ul>
                        </div>
                        <input type="file" id="files" multiple="multiple" asp-for="ImagesToUpload"/>
                    </div>
                    <div class="column-xs-12 column-md-5">
                        <input asp-for="Title" placeholder="Enter Title" class="form-control input-lg" style="border: 0px; font-size: 30px; font-weight: bold; padding: 0px; margin-bottom: 16px; margin-top: 16px;"/>
                        <input type="number" step="any" asp-for="Price" placeholder="Enter price" class="form-control input-lg" style="border: 0px; font-size: 26px; font-weight: bold; padding: 0px;"/>
                        <input type="number" asp-for="Duration" placeholder="Enter duration" class="form-control input-lg" style="border: 0px; font-size: 26px; font-weight: bold; padding: 0px;"/>
                        
                        <input type="hidden" id="services" asp-for="ServiceId"/>
                        <select class="serviceRelated" name="services[]" style="width: 100%; padding-top: 32px;"></select>
                        
                        <input type="hidden" id="staff" asp-for="SelectedStaff"/>
                        <select class="staffRelated" name="staff[]" multiple="multiple" style="width: 100%; padding-top: 32px;"></select>
                        
                        <div class="description">
                            <textarea asp-for="Description" class="form-control" rows="7" placeholder="Enter product description" style="border: 0px;"></textarea>
                        </div>
                        <button class="add-to-cart" type="submit">Save Product</button>
                    </div>
                </div>
                </form>
                @*<div class="grid related-products">
                    <div class="column-xs-12">
                        <h3>You may also like</h3>
                    </div>
                    @for (int i = 0; i < 3; i++)
                    {
                        Random rnd = new Random();
    //                    Product tmp = Model.NavigationCategoryId.Products.ElementAt(rnd.Next(Model.NavigationCategoryId.Products.Count));
                        //var thumbImg = Convert.ToBase64String(tmp.ProductImg);
                        
    $1$                     <div class="column-xs-12 column-md-4"> #1#
    $1$                         $2$ <img src="data:image/jpeg;base64,@thumbImg"> #2# #1#
    $1$                         <h4>@tmp.Name</h4> #1#
    $1$                         <p class="price">$@tmp.Price</p> #1#
    $1$                     </div> #1#
                    }
                </div>*@
            </div>
        </section>
        <hr class="divider-w">
    </div>
</main>

<script type="text/javascript">
$(document).ready(function() {
  $('.serviceRelated').select2({
    placeholder: "Select service",
    allowClear: true,
    theme: "classic",
    ajax : {
       url : "/AdminConsole/GetServices",
       dataType : "json",
       delay : 250,
       data : function(params) {
         return {
             searchServiceName : params.term
             }
       },
       processResults : function(data, params) {
         return {
             results : data
         };
       }
    }
  });
});

$(".serviceRelated").on("change", function() {
  var serviceId = $(this).val();
  $("#services").val(serviceId);
  
  var textBoxValueData = $("#services").val();
  $.ajax({
          url : '/AdminConsole/SaveCategorySelection?categoryIds=' +  textBoxValueData,
          dataType : 'json',
          type: 'post'
  });
});

$(document).ready(function() {
  $('.staffRelated').select2({
    placeholder: "Select staff",
    allowClear: true,
    theme: "classic",
    ajax : {
       url : "/AdminConsole/GetStaff",
       dataType : "json",
       delay : 250,
       data : function(params) {
         return {
             searchStaffName : params.term
             }
       },
       processResults : function(data, params) {
         return {
             results : data
         };
       }
    }
  });
});

$(".staffRelated").on("change", function() {
  var staffId = $(this).val();
  $("#staff").val(staffId);
  
  var textBoxValueData = $("#staff").val();
   $.ajax({
        url : '/AdminConsole/SaveCategorySelection?categoryIds=' +  textBoxValueData,
        dataType : 'json',
        type: 'post'
    });
});
</script>

</body>
</html>