@model SugaringCentreAuckland.Persistent.SugaringCentreAucklandElk.Models.Service;

@{
    Layout = "_AdminConsole";
}

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="main-card mb-3 card">
            <div class="card-body">
                @if (@Model.ServiceId <= 0)
                {
                    <h5 class="card-title">New Service</h5>
                }
                else
                {
                    <h5 class="card-title">@Model.Title</h5>
                }
                <form asp-action="SaveService" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="ServiceId"/>

                    <div class="position-relative row form-group">
                        <label for="title" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input asp-for="Title" name="title" id="title" placeholder="Enter title" class="form-control">
                        </div>
                    </div>

                    <div class="position-relative row form-group">
                        <label for="priceNzd" class="col-sm-2 col-form-label">Price NZD</label>
                        <div class="col-sm-10">
                            <input asp-for="Price" type="number" step="any" name="price" id="priceNzd" placeholder="Enter price of service in NZD" class="form-control">
                        </div>
                    </div>

                    <div class="position-relative row form-group">
                        <label for="duration" class="col-sm-2 col-form-label">Duration Min</label>
                        <div class="col-sm-10">
                            <input asp-for="Duration" type="number" step="any" name="duration" id="duration" placeholder="Enter duration of service in minutes" class="form-control">
                        </div>
                    </div>

                    <div class="position-relative row form-group">
                        <label for="categories" class="col-sm-2 col-form-label">Select Categories</label>
                        <div class="col-sm-10">
                            <input type="hidden" id="services" asp-for="ServiceCategoryId"/>
                            <select class="serviceCategoryRelated" name="serviceCategorys[]" style="width: 100%; padding-top: 32px;"></select>
                        </div>
                    </div>

                    <div class="position-relative row form-group">
                        <label for="categories" class="col-sm-2 col-form-label">Select Staff</label>
                        <div class="col-sm-10">
                            <input type="hidden" id="staff" asp-for="SelectedStaff"/>
                            <select class="staffRelated" name="staff[]" multiple="multiple" style="width: 100%; padding-top: 32px;"></select>
                        </div>
                    </div>

                    <div class="position-relative row form-group">
                        <label for="descInput" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea asp-for="Desc" id="descInput" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="position-relative row form-group">
                        <label for="imageInput" class="col-sm-2 col-form-label">Images</label>
                        <div class="col-sm-10">
                            <input asp-for="ImagesToUpload" multiple="multiple" id="imageInput" type="file" class="form-control-file">
                            <small class="form-text text-muted">First choosen image will be preview for service</small>
                        </div>
                    </div>

                    <div class="position-relative row form-check">
                        <div class="col-sm-10 offset-sm-2">
                            <button class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('.serviceCategoryRelated').select2({
    placeholder: "Select Category",
    allowClear: true,
    theme: "classic",
    ajax : {
       url : "/AdminConsole/GetServiceCategory",
       dataType : "json",
       delay : 250,
       data : function(params) {
         return {
             searchServicesName : params.term
             }
       },
       processResults : function(data, params) {
         return {
             results : data
         };
       }
    }
  });
});

$(".serviceCategoryRelated").on("change", function() {
  var serviceCategoryId = $(this).val();
  $("#services").val(serviceCategoryId);
  
  var textBoxValueData = $("#services").val();
  $.ajax({
          url : '/AdminConsole/SaveCategorySelection?categoryIds=' +  textBoxValueData,
          dataType : 'json',
          type: 'post'
  });
});

$(document).ready(function() {
  $('.staffRelated').select2({
    placeholder: "Select staff",
    allowClear: true,
    theme: "classic",
    ajax : {
       url : "/AdminConsole/GetStaff",
       dataType : "json",
       delay : 250,
       data : function(params) {
         return {
             searchStaffName : params.term
             }
       },
       processResults : function(data, params) {
         return {
             results : data
         };
       }
    }
  });
});

$(".staffRelated").on("change", function() {
  var staffId = $(this).val();
  $("#staff").val(staffId);
  
  var textBoxValueData = $("#staff").val();
   $.ajax({
        url : '/AdminConsole/SaveCategorySelection?categoryIds=' +  textBoxValueData,
        dataType : 'json',
        type: 'post'
    });
});
</script>