@model SugaringCentreAuckland.Persistent.SugaringCentreAucklandElk.Models.Staff


@{
    Layout = "_AdminConsole";
}

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="main-card mb-3 card">
            <div class="card-body">
                @if (@Model.StaffId <= 0)
                {
                    <h5 class="card-title">New Staff Member</h5>
                }
                else
                {
                    <h5 class="card-title">@Model.Title</h5>
                }
                <form asp-action="SaveStaff" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="StaffId"/>

                    <div class="position-relative row form-group">
                        <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-10">
                            <input asp-for="FirstName" name="firstName" id="firstName" placeholder="Enter First Name" class="form-control">
                        </div>
                    </div>

                    <div class="position-relative row form-group">
                        <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                            <input asp-for="LastName" name="lastName" id="lastName" placeholder="Enter Last Name" class="form-control" reguired>
                        </div>
                    </div>

                    <div class="position-relative row form-group">
                        <label for="title" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input asp-for="Title" name="title" id="title" placeholder="Enter job title" class="form-control">
                        </div>
                    </div>

                    <div class="position-relative row form-group">
                        <label for="dob" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input type="date" asp-for="Dob" name="Dob" id="dob" placeholder="Enter Date of Birth" class="form-control">
                        </div>
                    </div>

                    <div class="position-relative row form-group">
                        <label for="imageInput" class="col-sm-2 col-form-label">Images</label>
                        <div class="col-sm-10">
                            <input asp-for="ImagesToUpload" id="imageInput" type="file" class="form-control-file">
                            <small class="form-text text-muted">Please select profile photo</small>
                        </div>
                    </div>

                    <div class="position-relative row form-check">
                        <div class="col-sm-10 offset-sm-2">
                            <button class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>